\documentclass[10pt]{scrartcl}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[ngerman]{babel}
\usepackage{helvet}
\usepackage[left=0mm,right=0mm,top=10mm,bottom=0mm]{geometry}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage{fontawesome}
\usepackage{amssymb}
\usepackage{enumitem}
\usepackage{tabularx}
\usepackage{blindtext}
\usepackage{multicol}
\usepackage[hidelinks]{hyperref}

\definecolor{hr4youRed}{HTML}{E32212}

\renewcommand\familydefault{\sfdefault}
\renewcommand{\labelitemi}{$\textcolor{hr4youRed}{\blacktriangleright}$}

\setlength{\parindent}{0cm}
\setlist{left=0cm}

\begin{document}

{% include 'latex/header.tex.twig' %}

{% block content %}{% endblock %}

{% include 'latex/footer.tex.twig' %}

\end{document}
