\colorbox{hr4youRed}{
    \begin{minipage}[t][30mm][c]{\linewidth}
        \begin{center}
            \color{white}{
                \begin{tabularx}{0.85\linewidth}{XXXX}
                    \textbf{ {{- job.company -}} } & & & \\[1ex]
                    {{ job.contactFirstName }} {{ job.contactLastName }} & {{ job.street }} & {{ job.phone }} & \href{mailto: {{- job.email -}} }{ {{- job.email -}} } \\[1ex]
                    Supporter & {{ job.zipCode }}~{{ job.place }} & {{ job.fax }} & \href{ {{- job.internet -}} }{ {{- job.internet -}} }
                \end{tabularx}
            }
        \end{center}
    \end{minipage}
}