{% verbatim %}
\begin{center}
    \begin{minipage}[t]{0.9\linewidth}
        \includegraphics[height=9cm]{header-image.jpg}
        \hfill
        \begin{minipage}[b][9cm][t]{1cm}
            \begin{minipage}[t]{\linewidth}
                \raggedleft
                \href{https://www.facebook.com/hr4you.de}{{\Huge\color{hr4youRed}{\faFacebookOfficial{}}}}\\[1ex]
                \href{https://www.xing.com/pages/hr4youag}{{\Huge\color{hr4youRed}{\faXingSquare{}}}}\\[1ex]
                \href{https://de.linkedin.com/company/hr4you-solutions-gmbh-&-co-kg}{{\Huge\color{hr4youRed}{\faLinkedinSquare{}}}}\\[1ex]
                \href{https://twitter.com/hr4you_ag}{{\Huge\color{hr4youRed}{\faTwitterSquare{}}}}
            \end{minipage}
        \end{minipage}
    \end{minipage}
\end{center}
{% endverbatim %}