{% extends "latex/base.tex.twig" %}

{% block content %}

\begin{center}
    \begin{minipage}[t]{0.9\linewidth}
        \section*{ {{- job.advertisementTitle -}} }
        \begin{multicols}{2}

        {{ job.advertisementCompanyProfile }} \\[1ex]

        {{ job.quantityAssignments }}

        \columnbreak

        {{ job.advertisementIntroduction }}

        {{ job.advertisementBenefits }}

        {{ job.quantityRequirements }}

        {{ job.advertisementEnding }}

        \end{multicols}
    \end{minipage}
\end{center}
\vfill

{% endblock %}